<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= taskList.title %></title>
    <link rel="stylesheet" href="/assets/style.css">
    <link rel="icon" href="/assets/checkImg.png?v=1.0" type="image/png">
</head>
<body>
    <nav>
        <ul>
            <div class="image-container-2"></div>
            <a href="/">Home</a>
            <a href="/taskList">Todas as Listas</a>
            <a href="/newList">Nova Lista</a>
        </ul>
    </nav>

    <div class="container">
        <h1><%= taskList.title %></h1>
        
        <form action="/taskList/<%= taskList.id %>/deleteAllTasks" method="post" onsubmit="return confirm('Deseja realmente excluir todos os afazeres?');">
            <button type="submit">Excluir Afazeres</button>
        </form>

        <ul class="tasks">
            <% taskList.tasks.forEach(task => { %>
                <li>
                    <form action="/taskList/<%= taskList.id %>/toggleComplete/<%= task.taskId %>" method="post" style="display:inline;">
                        <label class="custom-checkbox">
                            <input type="checkbox" id="<%= task.taskId %>" name="completed" value="true" <% if (task.completed) { %>checked<% } %> onchange="this.form.submit()">
                            <span class="checkmark"></span>
                            <%= task.content %>
                        </label>
                        <input type="hidden" name="completed" value="false">
                    </form>
                    <form action="/taskList/<%= taskList.id %>/deleteTask/<%= task.taskId %>" method="post" style="display:inline;">
                        <button type="submit" onclick="return confirm('Deseja realmente remover esta tarefa?');">Remover</button>
                    </form>
                </li>
            <% }); %>
        </ul>

        <form action="/taskList/<%= taskList.id %>/addTask" method="post">
            <input type="text" name="taskTitle" placeholder="Nova tarefa" required>
            <button type="submit">Adicionar Tarefa</button>
        </form>
    </div>

    <footer class="footer">
        <p>&copy; 2024 Bernardo Eckert Wesoly - PUCRS. Todos os direitos reservados.</p>
        <ul class="footer-links">
          <li><a href="./about">Sobre</a></li>
          <li><a href="./contact">Contato</a></li>
          <li><a href="./privacy">Política de Privacidade</a></li>
        </ul>
      </footer>

</body>
</html>
